@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


#nav {
    background-color: #E9AF1B;
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    height: 70px;
    justify-content: center;
    align-items: center;
    
}

#nav div {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 1.5%;
    color: white;
}

#nav div:hover {
    border-bottom: 2px solid #F67D44;
    cursor: pointer;
    color: #F67D44;
}


#logo {
    width: 280px;
    height: auto;
}



#skater-grid {
    display: flex;
    width: 428px;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 auto;
    padding-top: 10%;
}

.skater-thumb {
    height: 100px;
    width: 100px;
    transition: transform 0.2s, border 0.2s;
    border: 2px solid transparent;
    background-color: #ebfd63;
    
}

.skater-thumb:hover {
    transform: scale(1.15);
    border: 5px solid rgb(255, 255, 141);
    cursor: pointer;
    box-shadow: 10px 30px 40px #e0f955;
}
.card{
    
    display: block;

    margin-right: auto;
    
    margin-left: auto;
    
    width: 25%;
    
    height: 25%;
   
    padding-top: 1%;
    
    transition: transform 0.2s, border 0.2s;
    
    margin: auto;
        
    border-radius: 100px;
    
    justify-content: center;
    
}
.card:hover{
    border: 5px solid rgb(255, 255, 141);
    box-shadow: 10px 30px 40px #e0f955;
}

.Cardname{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-family: 'Bungee Spice', cursive;
    text-shadow: 2px 2px 8px #000000;
    padding-top: 1%;

    /* transition: all.2s ease-in-out;   */
    text-align: center;
   
}
/* .Cardname:hover{
    text-align: center;
    transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
    /* background-color: pink;
}
     */
 

/* .Cardname:hover {
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
  } */