.skaterdetails{
    display: inline-block;

    margin-right: auto;
    
    margin-left: auto;
    
    width: 25%;
    
    height: 25%;
    
    transition: transform 0.2s, border 0.2s;
    
    margin: auto;
        
    border-radius: 50px;
    
    justify-content: center;
    
}
.ah{
    margin-top: 2%;
    
}