* {
  margin: 0;
  box-sizing: border-box;
}


body{
  /* margin: 0; */
  font-family: sans-serif;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, red, #ffff00);
  background-position: 50% 50%;
  background-size: cover;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
