* {
  margin: 0;
  box-sizing: border-box;
}


body{
  /* margin: 0; */
  font-family: sans-serif;
  box-sizing: border-box;
  height: 150vh;
  background-image: linear-gradient(to bottom right, red, yellow);
  background-position: 50% 50%;
  background-size: cover;
}
#grad {
  background-image: linear-gradient(to bottom right, red, yellow);
}