* {
  margin: 0;
  box-sizing: border-box;
}


body{
  /* margin: 0; */
  font-family: sans-serif;
  box-sizing: border-box;
  height: 150vh;
  background-image: url('https://i.postimg.cc/Prvfssdn/download.jpg');
  background-position: 50% 50%;
  background-size: cover;
}